<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>movimientos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
	<ion-item>
	<ion-label position="stacked">Producto</ion-label>
	<!--<ion-select </ion-select>[(ngModel)]="movimiento.productoId" interface="popover">
		<ion-select-option *ngFor="let p of productos" [value]="p.id">{{ p.nombre }}</ion-select-option>
	</ion-select>-->
	</ion-item>
	
	<ion-item>
	<ion-label position="stacked">Tipo</ion-label>
	<!--<ion-select [(ngModel)]="movimiento.tipo">
		<ion-select-option value="entrada">Entrada</ion-select-option>
		<ion-select-option value="salida">Salida</ion-select-option>
	</ion-select>-->
	</ion-item>
	
	<ion-item>
	<ion-label position="stacked">Cantidad</ion-label>
	<!--<ion-input type="number" [(ngModel)]="movimiento.cantidad"></ion-input>-->
	</ion-item>
	
	<!--<ion-button expand="block" (click)="guardarMovimiento()">Registrar</ion-button>-->

</ion-content>
