<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="login-container">

    <!-- Imagen grande del logo -->
    <div class="logo-grande">
      <img src="assets/imgs/Maestranza-logo.png" alt="Maestranza Unidos S.A." />
    </div>

    <!-- Formulario -->
    <form (ngSubmit)="login()" autocomplete="off" novalidate>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input
          [(ngModel)]="email"
          name="email"
          type="email"
          inputmode="email"
          required
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input
          [(ngModel)]="password"
          name="password"
          type="password"
          required
        ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="login-button">
        ENTRAR
      </ion-button>
    </form>

    <!-- Mensaje de error -->
    <ion-text color="danger" *ngIf="errorMessage">
      <p class="ion-padding">{{ errorMessage }}</p>
    </ion-text>
  </div>
</ion-content>
