<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>kits</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre del Kit</ion-label>
    <ion-input [(ngModel)]="nuevoKit.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Piezas (separadas por coma)</ion-label>
    <ion-input [(ngModel)]="nuevoKit.piezas" placeholder="pieza1, pieza2, pieza3"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="agregarKit()">Crear Kit</ion-button>

  <ion-list>
    <ion-item-sliding *ngFor="let kit of kits">
      <ion-item>
        <ion-label>
          <h2>{{ kit.nombre }}</h2>
          <p>Piezas: {{ kit.piezas.join(', ') }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarKit(kit.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
