<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header class="section-title">⚙️ Configuraciones</ion-list-header>
      <ion-item routerLink="/proveedores">🏢 Proveedores</ion-item>
      <ion-item routerLink="/etiquetado">🏷️ Etiquetado</ion-item>
      <ion-item routerLink="/integracion-compras">🛒 Integración Compras</ion-item>

      <ion-list-header class="section-title">⚠️ Alertas</ion-list-header>
      <ion-item routerLink="/alertas-stock">📉 Stock Bajo</ion-item>
      <ion-item routerLink="/lotes-vencimiento">⏳ Lotes Vencimiento</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="section-title">Maestranza</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarPopover($event)">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        <ion-badge color="danger" *ngIf="notificaciones.length > 0" class="notif-badge">            
          {{ notificaciones.length }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content" class="ion-padding">

  <!-- Submenús -->
  <ion-list>
    <ion-list-header>
      <ion-label class="section-title">🔧 Operaciones</ion-label>
    </ion-list-header>

    <ion-item button routerLink="/registro-inventario">📦 Registro de Inventario</ion-item>
    <ion-item button routerLink="/movimientos">🔄 Movimientos</ion-item>
    <ion-item button routerLink="/kits">🧰 Gestión de Kits</ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label class="section-title">📊 Reportes</ion-label>
    </ion-list-header>

    <ion-item button routerLink="/reportes">📄 Ver Reportes</ion-item>
    <ion-item button routerLink="/historial-precios">💰 Historial de Precios</ion-item>
  </ion-list>

</ion-content>
